## ffichier .env pour la partie login du dashboard treafiik (fichier à créer au niveau de la racine du projet)
GITEA_BASIC_AUTH="value here"



## app variables = .env.app (fichier à créer au niveau de la racine du projet)

USER_UID=1000
USER_GID=1000
GITEA__database__DB_TYPE=value_here
GITEA__database__HOST=value_here ##(e.g: GITEA__database__HOST=db:5432)
GITEA__database__NAME=value_here
GITEA__database__USER=value_here
GITEA__database__PASSWD=value_here



## db variable = .env.db (fichier à créer au niveau de la racine du projet)

POSTGRES_USER=value_here
POSTGRES_PASSWORD=value_here
POSTGRES_DB=value_here

