
## gitea variables

USER_UID=value_here
USER_GID=value_here
GITEA__database__DB_TYPE=value_here
GITEA__database__HOST=value_here
GITEA__database__NAME=value_here
GITEA__database__USER=value_here
GITEA__database__PASSWD=value_here


## postgres variables

POSTGRES_USER=value_here
POSTGRES_PASSWORD=value_here
POSTGRES_DB=value_here